[submodule "node_modules/mysql"]
	path = node_modules/mysql
	url = https://github.com/felixge/node-mysql.git
[submodule "node_modules/guid"]
	path = node_modules/guid
	url = https://github.com/dandean/guid.git
[submodule "node_modules/jszip"]
	path = node_modules/jszip
	url = https://github.com/Stuk/jszip
[submodule "node_modules/moment-timezone"]
	path = node_modules/moment-timezone
	url = https://github.com/moment/moment-timezone.git
[submodule "node_modules/twilio"]
	path = node_modules/twilio
	url = https://github.com/twilio/twilio-node.git
[submodule "node_modules/uuid"]
	path = node_modules/uuid
	url = https://github.com/shtylman/node-uuid.git
[submodule "node_modules/dbjuggle"]
	path = node_modules/dbjuggle
	url = https://github.com/kmcguire3413/dbjuggle.git
