span {
    white-space: nowrap;
}

.uiframe {
    margin:     10px;
    display:    inline-block;
}

.xemoTitleName {
    font-size:           2.4em;
    font-family:         Impact;
}

.xemoPluginAdminDescription {
    font-style: italic;
    font-size:  small;
    width:      70%;
}

.xemoPluginAdminWizardLink:hover {
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #222222;
}

.xemoPluginAdminWizardLink {
    display: inline-block;
    text-decoration: underline;
    margin:  8px;
    padding: 5px;
    color:  #88ff44;
    cursor: pointer;
}

.plugCalendarWarningTableTitle {
    font-size: x-large;
    font-family: Verdana, Arial;
    margin: 5px;
}

.plugCalendarWarningTable {
    border-collapse: collapse;
    margin: 10px;
}

.plugCalendarWarningTable td {
    border: 1px dashed gray;
    background-color: #25292f;
    padding: 2px 15px 2px 15px;
}

.plugCalendarHourTotalsTable {
    border-collapse: collapse;
    margin: 10px;
}

.plugCalendarHourTotalsTableTitle {
    font-size: x-large;
    margin: 5px;
}

.plugCalendarHourTotalsTable td {
    border: 1px dashed gray;
    background-color:  #23292f;
    padding: 2px 15px 2px 15px;
}

/*
    Specific to the HTML custom elements.
*/
.xemoCoreHtmlUserPaySystemSelectorFrame {
}

.xemoPluginAdminWizardEditPersonnelSystemSectionFrame {
    border: 1px solid #3f3f3f;
    margin: 10px;
    background-color: #424242;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #313131;
    display: inline-block;
}

.xemoCoreHtmlUserPaySystemSelectorOption {
}

.xemoCoreHtmlUserPaySystemSelectorDescription {
    display:  block;
    font-size: small;
}

/*
    Specific to the Administration plugin.
*/
.xemoPluginAdminWizardEditPersonnelSystemSectionTitle {
    font-size: large;
    margin:   15px;
}

.xemoPluginAdminWizardEditPersonnelSystemSectionDescription {
    font-size: small;
    margin: 0px 0px 0px 15px;
}

.xemoPluginAdminWizardEditPersonnelSystemSectionFrame {

}

body {
    background-color:   #15191f;
    color:              #eeeeee;
    font-family:        Verdana;
    font-size:          medium;
}

.badinput {
    background-color:   #ffdd99 !important;;
    box-shadow:         0px 0px 6px #ffff99 !important;
    border:             1px solid #ffff99 !important;
}

.goodinput {
}

hr {
    box-shadow:        0px 0px 6px #cccccc;
    margin:            10px 0px 10px 0px;
}

.ui select {
    background-color:   #ccffcc;
    border-radius:     4px;
    border:            1px solid white;
    padding:           4px;
    margin:            4px;
    box-shadow:        0px 0px 6px #ffffff;
    font-family:       Verdana;
}

.ui input {
    font-family:       Verdana;
    background-color:  #ccffcc;
    border-radius:     4px;
    border:            1px solid white;
    padding:           4px;
    margin:            4px;
    box-shadow:        0px 0px 6px #ffffff;
}

.ui input[type="submit"]:hover {
    background-color:   #44ff44 !important;
}

.ui input[type="submit"] {
    font-family:        Tahoma;
    border-radius:      4px;
    background-color:   #33dd33;
    border:             1px solid #99ff99;
    padding:            5px;
    margin:             4px;
    box-shadow:         0px 0px 6px #00ff00;
    cursor: pointer;
}

.standard table {
    border:             1px solid #444444;
    background-color:   #25292f;
}

.standard td {
    border:             1px dashed #444444;
    background-color:   #25292f;
    font-family:        Verdana;
    padding:            2px;
}

.condensed table {

}

.condensed td {

}

.plugReports_warnmessage {
    box-shadow:         0px 0px 20px #ff0000;
    border:             1px dashed #ff4444;
    background-color:   #dd0000;
    border-radius:      20px;
    padding:            5px;
    margin:             5px;
    display:            inline-block;
    cursor:             pointer;
}

.xemo_WaitFrame {
    border-radius: 0px;
    display: table;
    position: absolute;
    background-color: rgba(21, 25, 31, 0.9);
    font-family: Tahoma;
    color: white;
    text-align: center;
}

@media printx {
}